/*

app-template.css overrides

remove this comment if used
remove this file if not

*/

.todoapp {
    visibility: hidden;
}

.todoapp[data-initialized] {
    visibility: visible;
}

.todoapp[data-has-tasks="no"] .main {
    visibility: hidden;
} 

.todoapp[data-has-tasks="no"] .footer {
    visibility: hidden;
} 