/*

app-template.css overrides

remove this comment if used
remove this file if not

*/

.todoapp {
    transition: opacity 300ms;
}

.todoapp[data-initialized] {
    opacity: 1;
}

.todoapp[data-has-tasks="no"] .main {
    visibility: hidden;
} 

.todoapp[data-has-tasks="no"] .footer {
    visibility: hidden;
} 